# File-Type exclusions for Visual Studio
*.sdf
*.suo
*.pdb
*.opendb
*.opensdf
*.ipch
*.VC.db
.vs
*.user

# Other generic exclusions
*.log

# ircdotnet lib
/ircdotnet/bin
/ircdotnet/lib/Samples/*.pdb
/ircdotnet/src/IrcDotNet/obj

# Exclusions of 'obj' and 'bin' folders
bin
obj

# Excludings in Resources
/Resources/mails

# Others
/Meridian59.BgfService/Bin
/Meridian59.Brain
configuration.xml
desktop.ini
